<div class="side-bar-header">
    <div class="header-name">
      <a href="#">Tom</a>
    </div>
    <div class="create-room">
      <a href="#">チャットを作成する</a>
    </div>
</div>
<div class="rooms">
  <div class="room-name">
    <a href="#">今週のレース</a>
  </div>
  <div class="room-name">
    <a href="#">バーベキューの計画</a>
  </div>
  <div class="room-name">
    <a href="#">ユキちゃん家でホームパーティーしよう</a>
  </div>
</div>

